@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
$color1:#57008e;
$color2:#d30000;
$fontColor1:linear-gradient(180deg, #F9E56A 0%, #AA7826 80%);
$fontColor2:#FFF092;

$xs: 360px;
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1200px;

@mixin rwd($breakpoint) {
 @media (max-width: $breakpoint) {
   @content;
 }
}

// @include rwd($sm) {
//     height: 60px;
//     line-height: 60px;
//   }

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans SC','Microsoft YaHei';
  background-image: url("../img/homeBg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color:#000;
}

.content {
  width: 1200px;
  margin: 0 auto;
  @include rwd($xl) {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10%;
  }
  @include rwd($md) {
    width: 100%;
    box-sizing: border-box;
    padding: 0 6%;
  }
}

img {
  width: 100%;
}

.header {
  height: 200px;
  background-color: #f00;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: 100% 200px;
  display: flex;
  @include rwd($xl) {
    height: 100px;
    padding: 0 20px;
    background-size: 100% 100px;
  }
  @include rwd($xl) {
    margin: 0 0 20px 0;
  }
  .headerBox {
    width: 1200px;
    box-sizing: border-box;
    display: flex;
    color:#fff;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .headerBoxLogo {
    display: flex;
    align-items: center;
  }
  
  .headerBoxLogoImg {
    width: 134px;
    height: 107px;
    margin: 0 22px 0 0;
    @include rwd($xl) {
      width: 70px;
      height: 60px;
    }
  }

  .headerBoxLogoText {
    font-size: 1.4rem;
    font-weight: bold;
    color:#fff;
  }
  
  .headerBoxTitle {
    font-size: 2rem;
    font-weight: bold;
    @include rwd($xl) {
      font-size: 1rem;
    }
  }
  
  .headerBlack {
    display: none;
    @include rwd($xl) {
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      position: fixed;
      top:0;
      left:0;
      z-index: 96;
    }
  }
  .headerBoxMenuOpenIcon {
    font-size: 30px;
    display: none;
    @include rwd($xl) {
      display: block;
    }
  }
  .headerBoxMenu {
    display: flex;
    transition-duration: 0.2s;
    @include rwd($xl) {
      display: block;
      width: 50%;
      height: 100%;
      background-color: $color1;
      position: fixed;
      top:0;
      right:-50%;
      z-index: 97;
      box-sizing: border-box;
      border-width: 0 0 0 3px;
      border-color: #fff;
      border-style: solid;
      box-shadow: 0 0 30px #000 inset;
    }
  }
  .headerBoxMenuOpen {
    @include rwd($xl) {
      right: 0;
    }
  }
  
  .headerBoxMenuItem {
    font-size: 1.5rem;
    margin: 0 45px 0 0;
    cursor: pointer;
    border-width: 0 0 1px 0;
    border-color: transparent;
    border-style: solid;
    color:#fff;
    &:hover {
      border-color: #fff;
    }
    @include rwd($xl) {
      width: 100%;
      display: block;
      padding: 10px 20px;
      &:hover {
        background-color: #fff;
        color:$color1;
      }
    }
  }
}

.footer {
  height: 100px;
  background-image: url("../img/footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100px;
  color:#fff;
  display: flex;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include rwd($xl) {
    font-size: 1rem;
  }
  @include rwd($md) {
    background-size: auto;
  }
  .footerBoxTitle {
    font-size: 20px;
    @include rwd($md) {
      font-size: 15px;
    }
  }
  .footerList {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
  }
  .footerListItem {
    margin: 0 20px 0 0;
    font-size: 20px;
    border-width: 0 0 1px 0;
    border-color: transparent;
    border-style: solid;
    cursor: pointer;
    color:#fff;
    &:hover {
      border-color: #fff;
    }
    @include rwd($md) {
      font-size: 15px;
    }
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px 0;
  .infoBoxDownload {
    display: flex;
  }
  .infoBoxDownloadImg {
    width: 200px;
    margin: 0 50px 0 0;
    @include rwd($lg) {
      width: calc(50% - 20px);
      margin: 0 20px 0 0;
    }
  }
  .infoQR {
    width: 30%;
    margin: 0 50px 0 0;
    @include rwd($lg) {
      margin: 0;
    }
  }
  .infoBoxLine {
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    color:#fff;
    @include rwd($lg) {
      padding: 10px;
      font-size: 1.2rem;
    }
  }
}

.line1 {
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
  color:#fff;
  font-style: italic;
  margin: 0 0 20px 0;
  text-shadow: -4px 0 $color2, 0 4px $color2,
      4px 0 $color2, 0 -4px $color2;
  @include rwd($xl) {
    display: none;
  }
}

.line2 {
  font-size: 5rem;
  font-weight: bold;
  color:#fff;
  font-style: italic;
  position: absolute;
  top:0;
  right:50px;
  text-shadow: -4px 0 $color1, 0 4px $color1,
      4px 0 $color1, 0 -4px $color1;
  @include rwd($xl) {
    display: none;
  }
}

.screen {
  position: relative;
  margin: 0 0 20px 0;
  .screenVideo {
    width: 1110px;
    border: 20px solid #E4C655;
    @include rwd($xl) {
      width: 100%;
      box-sizing: border-box;
      padding: 0 10px;
      border: 10px solid #E4C655;
    }
  }
}

.detail {
  margin: 0 0 20px 0;
}

.title {
  margin: 20px 0 20px 0;
}

.robot {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom:20px;
  right:20px;
  z-index: 98;
  cursor: pointer;
  transition-duration: 0.2s;
  @include rwd($md) {
    width: 60px;
    height: 60px;
  }
  .robotX {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-10px;
    right:-10px;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  .robotImg {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition-duration: 0.2s;
    &:hover {
      opacity: 1;
    }
  }
  .robotBlack {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    z-index: 99999999999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .robotBlackBox {

    border-radius: 10px;
    background-color: #fff;
    position: relative;
    z-index: 99999999999;
    box-sizing: border-box;
    padding: 20px;
  }
  .robotBlackBoxTitle {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .robotBlackBoxTitleImg {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 0;
  }
  .robotBlackBoxContentText {
    text-align: center;
  }
  .robotBlackBoxContentImg {
    width: 300px;
  }
}

.homeCarousel {
  margin: 0 0 70px 0;
  box-shadow: 0 0 30px #000;
  @include rwd($md) {
    height: 0px;
    margin: 0;
  }
  .homeCarouselItem {
    height: 100%;
    background: rgba(196, 196, 196, 0.6);
  }
  .homeCarouselItemImg {
    width: 100%;
    height: 100%;
  }
  .el-carousel__container {
    height: 566px;
    @include rwd($lg) {
      height: 300px;
    }
    @include rwd($md) {
      height: 150px;
    }
  }
}

.homeBoxTitle {
  position: relative;
  .homeBoxTitleText {
    text-align: center;
    font-size: 55px;
    background: $fontColor1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 32px 0;
    position: relative;
    z-index: 2;
    font-weight: bold;
    @include rwd($lg) {
      font-size: 28px;
    }
  }
  .homeBoxTitleShadow {
    text-align: center;
    font-size: 64px;
    margin-bottom: -60px;
    color:rgba(255,255,255,0.1);
    position: relative;
    font-weight: bold;
    @include rwd($xl) {
      display: none;
    }
  }
}

.homeBox {
  margin: 0 0 70px 0;
  @include rwd($md) {
    margin: 0 0 32px 0;
  }
  .homeBoxContent {
    display: flex;
    padding: 40px 70px;
    justify-content: space-between;
    border-radius: 50px;
    background-size: 100% 100%;
    background-color: rgba(61,22,74,0.8);
    box-shadow: 0 0 10px #fff inset;
    @include rwd($xl) {
      padding: 0;
      flex-wrap: wrap;
      border: 0px;
      background-color: transparent;
      box-shadow: 0 0 0;
    }
  }
  .homeBoxContent2 {
    display: flex;
    padding: 40px 70px;
    justify-content: space-between;
    background-size: 100% 100%;
    @include rwd($xl) {
      padding: 0;
      flex-wrap: wrap;
      border: 0px;
      background-color: transparent;
    }
    @include rwd($md) {
      margin: 0 0 50px 0;
    }
  }
  .homeBoxContent3 {
    display: flex;
    align-items: center;
    @include rwd($md) {
      display: flex;
      flex-wrap: unset;
    }
  }
  .homeBoxContentQR {
    width: calc(25%);
    @include rwd($xl) {
      width: 100%;
      height: auto;
      margin: 0 20px 10px 0;
    }
  }
  .homeBoxContentQRImg {
    @include rwd($md) {
      width: 177px;
      height: 177px;
    }
  }
  .homeBoxContentInfo {
    width: 22%;
    @include rwd($xl) {
      width: 100%;
      height: auto;
    }
  }
  .homeBoxContentInfoImg {
    @include rwd($xl) {
      width: 80%;
      height: auto;
      margin: 0 0 10px 8%;
    }
  }
  .homeBoxContentInfoText {
    color:#fff;
    font-size: 36px;
    text-align: center;
    @include rwd($md) {
      font-size: 20px;
    }
  }
  .homeBoxContentVideo {
    width: calc(50% - 2%);
    background-color: #fff;
    @include rwd($xl) {
      display: none;
    }
  }
}

.homeBoxContentItemType1 {
  padding: 20px 12px;
  background-image: url("../img/homeBoxContentItemType1.png");
  color:#fff;
  background-size: 100% 100%;
  @include rwd($lg) {
    width: 48%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
  }
  .homeBoxContentItemType1Img {
    width: 150px;
    height: 130px;
    margin: 0 0 14px 0;
    @include rwd($xl) {
      width: 100%;
      height: auto;
    }
  }
  .homeBoxContentItemType1Text {
    font-size: 23px;
    text-align: center;
  }
}

.homeBoxContentItemType2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 207px;
  height: 207px;
  background-image: url("../img/homeBoxContentItemType2.png");
  background-size: 100% 100%;
  color:$fontColor2;
  @include rwd($xl) {
    width: 200px;
    height: 200px;
  }
  @include rwd($md) {
    width: 148px;
    height: 148px;
    box-sizing: border-box;
    padding: 30px;
    font-size: 12px;
  }
}

.QRbox {
  display: flex;
  padding: 30px 40px;
  background-color: rgba(0,0,0,0.7);
  border: 1px solid #fff;
  border-radius: 34px;
  position: absolute;
  bottom:45px;
  left:113px;
  z-index: 9;
  @include rwd($xl) {
    display: none;
  }
  .QRboxImg {
    width: 222px;
    height: 222px;
    margin: 0 35px 0 0;
  }
  .QRboxInfo {
  
  }
  .QRboxInfoImg {
    display: block;
    width: 215px;
    height: 63px;
    margin: 0 0 10px 0;
  }
  .QRboxInfoText {
    color:#fff;
    font-size: 26px;
  }
}

.introduction {
  .gameList {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px 0;
    @include rwd($xl) {
      flex-wrap: wrap;
    }
  } 
  .gameListItem {
    width: 130px;
    height: 115px;
    cursor: pointer;
    @include rwd($xl) {
      width: calc((100% / 4) - 10px);
      height: auto;
    }
  }
  .introductionContent {
    padding: 40px 132px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px -10px 4px rgba(0, 0, 0, 0.25), inset 0px 5px 4px #FFEF99;
    border-radius: 60px;
    font-size: 30px;
    color:#fff;
    overflow: hidden;
    margin: 0 0 30px 0;
    @include rwd($xl) {
      padding: 30px;
      font-size: 20px;
    }
    @include rwd($md) {
      font-size: 16px;
    }
  }
  .introductionContentText {
    line-height: 45px;
    letter-spacing: 3px;
    margin: 0 0 20px 0;
    @include rwd($lg) {
      line-height: normal;
    }
  }
  .introductionContentVideo {
    width: 100%;
  }
}

.QRBoxBottom {
  display: flex;
  padding: 40px 70px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-size: 100% 100%;
  background-color: rgba(61,22,74,0.8);
  box-shadow: 0 0 10px #fff inset;
  margin: 0 0 32px 0;
  @include rwd($xl) {
    padding: 0;
    border: 0px;
    background-color: transparent;
    box-shadow: 0 0 0;
  }
  .QRBoxBottomQR {
    width: 235px;
    margin: 0 50px 0 0;
    @include rwd($lg) {
      width: calc(50% - 20px);
      margin: 0 20px 0 0;
    }
  }
  .QRBoxBottomInfo {
    margin: 10px 0 0 0;
    @include rwd($lg) {
      width: 50%;
    }
  }
  .QRBoxBottomInfoDownload {
    display: flex;
    margin: 0 0 36px 0;
    @include rwd($lg) {
      display: block;
      margin: 0 0 20px 0;
    }
  }
  .QRBoxBottomInfoDownloadImg {
    width: 206px;
    margin: 0 32px 0 0;
    display: block;
    &:last-child {
      margin: 0 0 0 0;
    }
    @include rwd($lg) {
      width: 100%;
      display: block;
      margin: 0 0 10px 0;
    }
  }
  .QRBoxBottomInfoText {
    color:#fff;
    font-size: 36px;
    text-align: center;
    @include rwd($lg) {
      font-size: 20px;
    }
  }

}

.QA {
  .QABox {
    margin: 53px 0;
    padding: 36px 62px;
    background-color: #fff;
    color:#4B4B4B;
    @include rwd($md) {
      padding: 20px;
    }
  }
  .QABoxItem {
    margin: 0 0 40px 0;
  }
  .QABoxTitle {
    font-size: 45px;
    font-weight: bold;
    margin: 50px 0 20px 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color:#4B4B4B;
    &:first-child {
      margin: 0 0 20px 0;
    }
    @include rwd($lg) {
      font-size: 30px;
    }
  }
  .QABoxMenu {
    display: flex;
    margin: 0 0 20px 0;
    flex-wrap: wrap;
  }
  .QABoxMenuItem {
    padding: 6px 30px;
    border: 1px solid #4B4B4B;
    box-sizing: border-box;
    font-size: 25px;
    margin: 0 17px 17px 0;
    cursor: pointer;
    transition-duration: 0.2s;
    &:hover {
      background-color: rgba(102, 0, 107,0.8);
      border-color: rgba(102, 0, 107,0.8);
      color:#fff;
    }
    @include rwd($lg) {
      width: calc(50% - 10px);
      padding: 0;
      margin: 0 10px 10px 0;
      font-size: 20px;
      padding: 10px 0;
      text-align: center;
    }
  }
  .onCheck {
    background-color: rgba(102, 0, 107,1) !important;
    border-color: rgba(102, 0, 107,1) !important;
    color:#fff;
  }
  .QAList {

  }
  .QAListItem {
    background-color: #fff;
    margin: 0 0 20px 0;
    border: 1px solid #4B4B4B;
    box-sizing: border-box;
  }
  .QAListItemTitle {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    cursor: pointer;
    @include rwd($lg) {
      height: auto;
    }
  }
  .QAListItemTitleText {
    padding: 16px 40px;
    word-break: break-all;
    @include rwd($lg) {
      font-size: 18px;
    }
    @include rwd($md) {
      padding: 16px 20px;
    }
  }
  .QAListItemTitleOpen {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #4B4B4B;
    background-color: #EDEDED;
    color:#4B4B4B;
    font-size: 50px;
    @include rwd($lg) {
      border-width: 0px;
      background-color: transparent;
    }
  }
  .QAListItemTitleOpenIcon {
    transition-duration: 0.2s;
  }
  .QAListItemTitleOpenRev {
    transform: rotate(180deg);
  }
  .QAListItemMore {
    max-height: 0;
    background-color: #EDEDED;
    transition-duration: 0.2s;
    overflow: hidden;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #4B4B4B;
    box-sizing: border-box;
  }
  .QAListItemMoreShow {
    max-height: 500px;
    padding: 16px 40px;
    font-size: 20px;
    transition-duration: 0.2s;
    @include rwd($lg) {
      font-size: 16px;
    }
  }
}

.top {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom:120px;
  right:20px;
  z-index: 98;
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  transition-duration: 0.2s;
  &:hover {
    box-shadow: 0 0 10px #222 inset;
    background-color: rgba(255,255,255,0.8);
    color:#000;
  }
    @include rwd($md) {
    width: 60px;
    height: 60px;
  }
  .topIcon {
    font-size: 50px;
    margin-top: 5px;
  }
}

.form {
  padding: 33px 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(102, 0, 107,1);
  @include rwd($lg) {
    display: block;
    padding: 33px 10px;
  }
  .formLeft {
    width: calc(60% - 34px);
    margin: 0 34px 0 0;
    @include rwd($lg) {
      width: 100%;
      margin: 0px;
    }
  }
  .formRight {
    width: 50%;
    @include rwd($lg) {
      width: 100%;
    }
  }
  .formLeftRow {
    display: flex;
    margin: 0 0 16px 0;
    &:last-child {
      margin: 0px;
    }
  }
  .margin {
    margin: 0 16px 0 0;
  }
  .formRightText {
    line-height: 45px;
    font-size: 30px;
    color:#fff;
    text-align: center;
    margin: 0 0 37px 0;
    @include rwd($lg) {
      font-size: 18px;
      margin: 37px 0;
    }
  }
  .formRightSub {
    width: 100%;
  }
}

.download {
  .introductionContent {
    padding: 40px 132px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px -10px 4px rgba(0, 0, 0, 0.25), inset 0px 5px 4px #FFEF99;
    border-radius: 60px;
    font-size: 30px;
    color:#fff;
    overflow: hidden;
    margin: 0 0 30px 0;
    @include rwd($xl) {
      padding: 30px;
      font-size: 20px;
    }
    @include rwd($md) {
      border-radius: 0px;
    }
  }
  .homeBoxContent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .downloadLink {
    display: flex;
    justify-content: space-between;
  }
  .downloadLinkItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    &:first-child {
      margin: 0px;
      @include rwd($md) {
        margin: 0px;
      }
    }
  }
  .downloadLinkItemImg {
    width: 220px;
    margin: 0 0 7px 0;
    @include rwd($md) {
      width: 120px;
    }
  }
  .downloadLinkItemText {
    font-size: 30px;
    color:#fff;
    text-align: center;
    @include rwd($md) {
      font-size: 16px;
    }
  }
  .downloadInfoMenu {
    display: flex;
    margin: 0 0 0 60px;
    @include rwd($md) {
      margin: 0px;
    }
  }
  .downloadInfoMenuItem {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px 60px 0 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 45px;
    cursor: pointer;
    color:$fontColor2;
    box-shadow: inset 0px -10px 4px rgba(0, 0, 0, 0.25), inset 0px 5px 4px #FFEF99;
    @include rwd($md) {
      width: auto;
      font-size: 20px;
      padding: 10px 30px;
      border-radius: 0px;
    }
  }
  .downloadInfoMenuItemOnChange {
    color:#fff;
    margin-top: -30px;
  }
  .introductionContentText {
    line-height: 45px;
    letter-spacing: 3px;
    margin: 0 0 20px 0;
    @include rwd($lg) {
      line-height: normal;
    }
  }
  .introductionContentVideo {
    width: 100%;
  }
  .introductionContentTextImgBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    margin: 20px 0;
    @include rwd($lg) {
      display: block;
    }
  }
  .introductionContentTextImg {
    width: 40%;
    @include rwd($lg) {
      width: 80%;
      margin: 0 0 0 10%;
    }
  }
  .introductionContentTextImg2 {
    width: 30%;
    margin: 0 20px 0 0;
    @include rwd($lg) {
      width: 80%;
      margin: 0 0 0 10%;
    }
  }
  .introductionContentTextImg3 {
    width: calc(100% / 4);
    @include rwd($lg) {
      width: 80%;
    }
  }
  .introductionContentTextImg4 {
    width: 60%;
    margin: 20px 0 0 0;
    @include rwd($md) {
      width: 100%;
    }
  }
}

.privacy {
  .introductionContent {
    padding: 40px 132px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px -10px 4px rgba(0, 0, 0, 0.25), inset 0px 5px 4px #FFEF99;
    border-radius: 60px;
    font-size: 30px;
    color:#fff;
    overflow: hidden;
    margin: 0 0 30px 0;
    @include rwd($xl) {
      padding: 30px;
      font-size: 20px;
    }
    @include rwd($md) {
      font-size: 16px;
    }
  }
  .introductionContentText {
    line-height: 45px;
    letter-spacing: 3px;
    margin: 0 0 20px 0;
    @include rwd($lg) {
      line-height: normal;
    }
  }
  .introductionContentVideo {
    width: 100%;
  }
}